 .app{
   min-height: 100vh;
   background-color: rgb(75, 171, 202);
   display: flex;
   align-items: center;
   justify-content: space-around;
 }
.tweet{
  background-color: white;
  height: 300px;
  width: 300px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: space-around; 
}
.red{
   color:red;
   font-size: 50px;
}

  
  
